@media(max-width:1440px){
    .heade__menu a{
        
        text-decoration: none;
        color: #fff;
        font-size: 20px;
    }
    
    .heade__soz{
        font-weight: 900;
        font-family: cursive;
        position: relative;
        top: 150px;
        left: 20px;
    }
    .heade__soz img{
        padding: 0px 15px;
    }
    .content__zag{
        font-weight: 900;
        font-family: cursive;
        font-style: normal;
        font-size: 30px;
        text-decoration: underline white;
        text-align: center;
        position:relative;
        top: 200px;
        color: #fff;
    }
    .content__text{
        font-weight: 900;
        font-family: cursive;
        font-style: normal;
        font-size: 12px;
        text-align: center;
        position: relative;
        top: 200px;
        color: #fff;
    }
    .content__download a{
        text-align: center;
        width: 100px;
        background-color:red ;
        border-radius: 100px;
        font-weight: 900;
        font-family: cursive;
        left: 120px;
        position: absolute;
        top: 600px;
        text-decoration: none;
        color: #fff;
        font-size: 19px;
        
    }
    .heade__logo{
        color: #fff;
        font-family: cursive;
    }
    .content__img h4{
        left:20px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
        position: absolute;
        top: 650px;
        color: #fff;
    }
    .content__img img{
        position: absolute;
        top: 800px;
        border-radius: 20px;
    }
    .content__img_2 img{
        border-radius: 20px;
        position: absolute;
        top:1000px ;
    }
    .content__img_2 h4{
        left: 5;
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
        position: absolute;
        top: 1200px;
        color: #fff;

    }

    
   
}
@media(min-width:1920px){
   .heade__menu a{
       text-decoration: none;
       font-family: cursive;
       color: #fff;
       font-size: 25px;
   }
   .heade__menu :hover{
       text-decoration: underline #fff;
   }
   .heade__menu{
       margin: 70px 720px;
       
   }
   .heade__menu a{
       padding: 0px 60px;
   }
   .content__download a{
       top: 600px;
      position: absolute;
      left: 1000px;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: cursive;
}
.content__text{
    font-style: normal;
    font-size: 30px;
    text-decoration: underline white;
    text-align: center;
    position: absolute;
    font-family: cursive;
    top: 200px;
    color: #fff;
}
.heade__logo{
    color: #fff;
    font-family: cursive;
}
    .content__img h4{
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
        position: absolute;
        top: 650px;
        color: #fff;
    }
    .content__img img{
        position: absolute;
        top: 800px;
        border-radius: 20px;
    }
    .content__img_2 img{
        border-radius: 20px;
        position: absolute;
        top:1000px ;
    }
    .content__img_2 h4{
        left: 5;
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
        position: absolute;
        top: 1200px;
        color: #fff;

    }


}
